<h2>"MAGIA? Não estou a ver magia nenhuma!"</h2>
<h2>Experimenta clicar num dos botões por debaixo da imagem!</h2>
<div class="container-fluid">
	<div class="row">
	    <div class="col-md-12 text-center">
		    <div id="selector" class="btn-group">
			    <a onclick="exemplo.stairs(44, 'left');" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-hand-left"></span> Vista da esquerda</a>
			    <a onclick="exemplo.accordion(-45);" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-hand-up"></span> Vista do centro</a>
			    <a onclick="exemplo.stairs(44, 'right');" class="btn btn-lg btn-primary">Vista da direita <span class="glyphicon glyphicon-hand-right"></span></a>
			</div>
		</br>
		</br>

				<div class= "paper"> 
					<div class="overlay">
					</div>
				</div>


	    </div>
	</div>
</div>

<!-- 
<%= cl_image_tag("finais/#{@nomedaimagem}.png", :alt => "imagem") %>

 -->

<style >
  .overlay { 
  	background: url("<%= cloudinary_url("finais/#{@nomedaimagem}.png", :resource_type => :image) %>") no-repeat;
  	background-size: 100%;
  }
  .paper {
  	height: 50vw;
  }
</style>



<script>
	var exemplo = new OriDomi('.paper', {
		speed:           3000,  
		ripple:          4,     // backwards ripple effect when animating
		perspective:     5000,   // smaller values exaggerate 3D distortion
		maxAngle:        180,    //fold range
		vPanels:         8, 
		hPanels:         1, 
		shading:         'soft', 
		touchEnabled:    true, 
		touchSensitivity: .10
	});
</script>