<style >
  .overlay { 
  /*	background: url("<%= cloudinary_url("finais/0.9063961155570877.png", :resource_type => :image) %>") no-repeat;*/
  	background: url("http://portugalstartups.com/wp-content/uploads/2015/03/jobbox_founders.jpg") no-repeat;


  	background-size: 100%;
  }
</style>


<div class="container-fluid">
	<div class="row">
	    <div class="col-md-12">
	        	<button id="button" onclick="exemplo.stairs(43, 'left');">vista da esquerda</button>
				<button id="button" onclick="exemplo.accordion(-45);">vista do centro</button>
				<button id="button" onclick="exemplo.stairs(43, 'right')">vista da direita</button>
				<div class= "paper"> 
					<div class="overlay">
					</div>
				</div>


	    </div>
	</div>
</div> 





	<script>
		var exemplo = new OriDomi('.paper', {
			speed:           2000,  
			ripple:          3,     // backwards ripple effect when animating
			perspective:     3000,   // smaller values exaggerate 3D distortion
			maxAngle:        360,    //fold range
			vPanels:         8, 
			hPanels:         1, 
			shading:         'soft', 
			touchEnabled:    true, 
			touchSensitivity: .10
		});
	</script>
