// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.paper {
  background-color: #FFFFFF;
  background-size:contain;
  width: 100% ;
  padding: 4em;
  margin: 1%;
  position: relative;
  height: 64vw;
  border: 0px solid #CCC6A1;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 9999;
}
